[Unit]
Description=minion robot client

[Service]
ExecStart=/usr/local/node/bin/node /var/www/minion/current/index.js --create
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=minion
EnvironmentFile=/var/www/minion/shared/config/environment-variables
User=minion
Group=minion

[Install]
WantedBy=multi-user.target

